* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* body {
  display: flex;
  position: relative;
  scrollbar-width: none;
}
* body::-webkit-scrollbar {
  display: none;
}
* body .fixed_bg_conteiner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
* body .fixed_bg_conteiner .bg_conteiner_section {
  display: flex;
  width: 100%;
  height: 100%;
  background-image: url("../multimedia/bg4.jpg");
  background-position: center;
  background-size: cover;
  animation: bgAnim 15s linear infinite reverse;
}
@keyframes bgAnim {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

.conteiner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  max-width: 1200px;
  height: auto;
  margin: auto;
  padding: 20px;
  margin-top: 100px;
  border-radius: 50px;
  /*             Efecto morfismo de vidrio el contenedor.             */
  box-shadow: 0px 0px 30px 10px rgba(27, 14, 61, 0.5);
  border: 1px solid rgba(90, 90, 90, 0.5);
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
}
.conteiner .card_flip {
  display: flex;
  margin: 20px;
  perspective: 1000px;
}
.conteiner .card_flip:hover .card {
  transform: rotateY(180deg);
  box-shadow: 3px 3px 50px 0px #0d1b6b;
}
.conteiner .card_flip .card {
  display: flex;
  width: 300px;
  height: 300px;
  position: relative;
  transform-style: preserve-3d;
  color: white;
  margin: 1vw 1vh;
  background-size: cover;
  background-position: center;
  background-clip: content-box, border-box;
  box-shadow: 3px 3px 30px 0px rgba(231, 133, 20, 0.7803921569);
  border-radius: 50px;
  transition: all 2000ms;
}
.conteiner .card_flip .card .card_front,
.conteiner .card_flip .card .card_back {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}
.conteiner .card_flip .card .card_front .background_difum,
.conteiner .card_flip .card .card_back .background_difum {
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: 0.5;
  border-radius: 50px;
}
.conteiner .card_flip .card .card_front .card_front_content,
.conteiner .card_flip .card .card_front .card_back_content,
.conteiner .card_flip .card .card_back .card_front_content,
.conteiner .card_flip .card .card_back .card_back_content {
  transform: translateZ(50px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px;
}
.conteiner .card_flip .card .card_back {
  transform: rotateY(180deg);
}
.conteiner .card_flip .card .card_back .card_back_content .card_back_title {
  margin-bottom: 10px;
}
.conteiner .card_flip .card .card_back .card_back_content .card_back_p {
  font-style: oblique;
  font-size: 19px;
  font-weight: 400;
  /*              Efecto texto con linear gradient            */
  background: linear-gradient(-60deg, rgb(224, 44, 44), rgb(204, 238, 53));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.conteiner .card_flip .card .card_back .card_back_content .card_back_button {
  border: none;
  padding: 10px 15px;
  border-radius: 15px;
  margin-top: 20px;
  background-color: #5798ec;
  color: white;
  cursor: pointer;
  box-shadow: 1px 1px 30px 0px #41bfcf;
}
.conteiner .card_flip .card .card_back .card_back_content .card_back_button:hover {
  box-shadow: 2px 2px 40px 0px #2ce774;
}

/*# sourceMappingURL=style.css.map */
